{% extends 'base.html' %}
{% block content %}
{% if user == post.author %}
    <a href="{% url 'post_edit' post.pk %}">Edit</a>
    <form method="post" action="{% url 'post_delete' post.pk %}">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endif %}

<h2>{{ post.title }}</h2>
<p>{{ post.context }}</p>
<p>Автор: {{ post.author.username }} | {{ post.create_date }}</p>

<h3>Комментарии</h3>
<ul>
  {% for comment in comments %}
    <li>            
      <strong>{{ comment.author.username }}:</strong>
           <p>{{ comment.context }}</p></li>
    {{ comment.create_date }}
    <br><br>
  {% empty %}
    <li>Комментариев пока нет.</li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Добавить комментарий</button>
  </form>
{% endif %}
{% endblock %}
